# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DS - 2021\Assignment1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
